.center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding-top: 50px;
}

.center-form h1 {
    margin-bottom: 20px;
}

.center-form Form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.center-form Form .form-control {
    margin-bottom: 20px;
    padding: 5px;
}

.youtube-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px
}

.youtube-video {
    border: 4px solid black;
    border-radius: 5px;
    margin-bottom: 30px;
}

.btn-request {
    margin-top: 20px;
    margin-bottom: 100px;
}
